language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: dist
  keep-history: true
on:
  branch: master
script:
  - yarn run styleguide:build
after_success:
  - "yarn run deploy"
